* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.header_top {
    background-color: black;
    color: white;
    padding: 17px 0;
}
.header_flex {
    display: flex;
    justify-content: space-between;
    
}
.header_item:not(:last-child) {
    margin-right: 33px;
}
.header_logo {
    margin-right: 41px;
}
.container {
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
}

.header__bottom {
    background-color: #F8F3F4;
    
}
.header__bottom_text {
    padding-top: 59px;
    padding-bottom: 60px;
}
h1 {
    font-family: Lato;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
}

.catalog_cards {
    display: flex;
}
.cards {
    height: 306px;
    display: flex; 
    box-shadow: 20px 20px 15px -6px rgba(47, 41, 41, 0.2);
}

.card_top_box {
    width: 390px;
    padding-left: 32px;
}

.card_one {
    margin-top: 96px;
    margin-bottom: 40px;
    display: flex;
    box-shadow: 20px 20px 15px -6px rgba(47, 41, 41, 0.2);
}
.card_titel {
    color: #222222;
    margin: 0px;
    padding: 0px;
}

.close {
    padding-top: 5px;
    margin-right: 22px;
}

.description {
    font-family: Lato;
    font-size: 22px;
    line-height: 26px;
    color: #575757;
    padding-bottom: 6px;
}
.description_last {
    padding: 0;
}

.quantity {
    display: flex;
    gap: 24px;
}

.units {
    text-align: center;
    width: 44px;
    height: 25px;
}


.card2_center {
    margin: 0 auto;
    display: flex;
    background: #F7E4E2;
    height: 306px;
}

.img {
    max-width: 262px;
}

.wrap {
    background: #F7E4E2;
    width: 262px;
}

.top {
    display: flex;
    padding-top: 22px;
    justify-content: space-between;
    padding-bottom: 42px;
}
.second_card {
    display: flex;
    width: 360px;
}

.selection-btn {
    display: flex;
    justify-content: space-between;
    margin-top: 73px;
    margin-bottom: 129px;
}

.right-side {
    margin-left: 20px;

}
.form {
    margin-top: 113px;
    width: 360px;
    margin-left: 129px;
}
h4 {
    font-family: Lato;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    padding-right: 40px;
}
.input-text {
    width: 359px;
    height: 44px;
    border: 1px solid #A4A4A4;
    margin-top: 21px;
    padding-left: 17px;
}

.checkout {
    background-color: #F5F3F3;
    margin-left: 129px;
    
}

.total {
    text-align: end;
    padding-top: 12px;
    padding-bottom: 21px;
}
.sub_total {
    padding-top: 39px;
    padding-right: 40px;
}
.price {
    color: #F16D7F;
    font-weight: bold;
}


.continue-btn:hover{
    
    transform: rotate (90deg);
}
.submit-simple {
    font-size: 14px;
    line-height: 17px;
    background: none;
    padding: 10px 14px 12px 15px;
    border: 1px solid #A4A4A4;
    margin-top: 24px;
    margin-bottom: 57px;
    cursor: pointer;

}

h3 {
    font-family: Lato;
    font-size: 11px;
    line-height: 13px;
    color: #4A4A4A;
    text-align:end;
    
}

.line {
    color: #E2E2E2;
    width: 275px;
    margin: 0 auto;
    margin-bottom: 17px;
}
.submit-main{
    background: #F16D7F;
    color: #FFFFFF;
    font-family: Lato;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    padding: 15px 43px 16px 41px;
    border: none;
    margin-bottom: 42px;
    cursor: pointer;

}

.submit-main:hover {
    transition: all 5s;
    transform: scale(1.2);
}

.btn {
    display: flex;
    justify-content: center;
}

.footer-main {
    background-image: url(IMAGES/background_footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.subscribe {
    height: 448px;
    display: flex;
    justify-content: space-between;
}
.subscribe_image {
    padding-top: 97px;
    padding-bottom: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.subscribe_paragraph {
    width: 350px;
    font-family: Lato;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
   
    
}
.subscribe_paragraph_italic {
    font-style: italic;
}
.subscribe_text {
    padding-top: 150px;
    width: 557px;
    font-size: 18px;
    font-weight: 400px;
    font-weight: normal;
    text-align: center;
    padding-bottom: 32px;
}
.input_flex {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
} 
.sub_text {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 167.2%;
    text-align: center;
}
.input-email {
    background: #E1E1E1;
    font-family: Lato;
    font-size: 14px;
    line-height: 17px;
    padding: 7px 64px 6px 22px; 
    border-radius: 15px 0 0 15px;
    border: none;
  
    
}
.submit {
    background: #F16D7F;
    font-family: Lato;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    padding: 7px 15px 6px 15px;
    border-radius: 0 15px 15px 0;
    border: none;
    cursor: pointer;
    
}



.footer-bottom {
    background: #222224;
    height: 79px;
}
.bottom_left_text {
    font-family: Lato;
    line-height: 19px;
    color: #FBFBFB;
    padding-top: 30px;
}

.bottom_right {
    padding-top: 24px;
    cursor: pointer;
}
.footer_bottom_flex {
    display: flex;
    justify-content: space-between;
}

.svg_icon {
    background-color: white;
    color: black;
    padding: 9px 11px;
    vertical-align: middle;
}
.svg_icon:hover {
    background-color: #F16D7F;
    color: #FFFFFF; 
}

@media (max-width: 768px) {
    .header_flex {
        padding: 0 32px;
    }
    .header__bottom_text {
        margin: 0 16px;
    }

    .catalog_cards {
        display: block;
        padding: 0 17px;
        margin-bottom: 60px;
    }

    .selection-btn {
        justify-content: center;
        gap: 49px;
        margin-top: 63px;
        margin-bottom: 104px;
    }
    .right-side {
        display: flex;
        margin: 0;
        gap: 16px;
    }
    .checkout {
        margin: 0;
        padding: 0 44px;
        max-height: 214px;
        margin-top: 40px;
    }
    .form {
        margin: 0;
    }

    .footer_flex {
        display: flex;
        flex-direction: column;
    }
    
    .box-paragraph {
        margin-left: auto;
        margin-right: auto;
    }
    .subscribe {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .subscribe_paragraph {
        margin-left: auto;
        margin-right: auto;
    }
    .subscribe_text {
        margin-left: auto;
        margin-right: auto;
        
    }
    .input_flex {
        margin-bottom: 140px;
    }
    .footer_bottom_flex {
        padding: 0 32px;
    }
}

@media (max-width: 667px) {
    
    .top_flex {
        background: none;
    }
    .header_item:not(:first-child) {
        display: none;
    }
    .header_right {
        margin-top: 10px;
    }
    .header_flex {
        padding: 0;
    }
    .header__bottom_text {
        text-align: center;
    }
    .card_one {
        margin-top: 39px;
    }
    .img {
        width: 144px;
        height: 306px;
        object-fit: cover;
          
    }
    .card2_center {
        margin: 0 17px;
    }
    .selection-btn {
        margin-top: 10px;
        margin-bottom: 48px;

    }
    .right-side {
        display: block;
    }
    .input-text {
        width: 340px;
    }
    .submit-simple {
        margin-bottom: 0px;
    }
    .checkout {
        margin-top: 59px;
    }
    .subscribe_image {
    padding-top: 54px;
    }
    .subscribe_text {
    width: auto;
    color: black;
    padding: 59px 0 22px 0;
    }
    .subscribe_text h3 {
    font-size: 14px;
    }
    .sub_dec {
    font-size: 14px;
    }
    .submit_main {
    margin: 41px 0 95px 0;
    }
    .icon {
    padding-top: 48px;
    }
    .input_flex {
    margin-bottom: 109px;
    }
    .footer_flex {
    padding-bottom: 81px;
    }
    .footer-bottom {
    height: 100%;
    }
    .footer_bottom_flex {
    display: flex;
    flex-direction: column-reverse;
    padding: 0;
    }
    .bottom_left{
    margin: 0 auto;
    padding-bottom: 9px;
    }
    .bottom_right{
    margin: 0 auto;
    }
}